
/* MAIN TAG STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  background-color: #ededed !important;
}

h1 {
  font-size: 18px;
  color: #445c74;
  margin-top: 15px;
}

a {
  color: #000000;
}

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

p {
  line-height: 18px;
  margin-top: 0px;
  text-align: justify;
}

.nav-justified > li {
  float: none;
}
/*IE8*/
@media \0screen {  
  .nav-justified > li {float: left;}  
}  

.nav > li > a:hover {
  background-color: #fff\9;
  background-color: #fff !important;
}

.nav > li > a:focus {
  background-color: #fff\9;
  background-color: #fff !important;
}

.col-lg-2 {
  width: 120px\9;
  display: inline-block\9;
}

.updateDetailsContent {
  background-color: #fff !important;
  padding: 0px !important;
}

.statementPageHeading {
  background-color: #fff !important;
  width: 815px !important;
  margin-left: 15px !important;
  padding: 6px !important;
}

.topGreenBorder {
  width: 865px !important;
  border-top: 25px solid #91d806 !important;
}

.footer {
  width: 865px !important;
  margin-left: 0px !important;
  margin-right: 15px !important;
}

.bottomFooterDarkGrey {
  width: 865px !important;
  margin-top: -20px !important;
  background-color: #555554 !important;
  padding: 17px !important;
  height: 60px !important;
  color: #fff !important;
}

.activeTabSelected {
  background-color: #fff !important;
}

.activeTab {
  background-color: #91d806 !important;
  height: 3px !important;
  width: 60% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px !important;
}

.submitDetails {
  width: 815px !important;
  text-align: center;
  background-color: #fff !important;
  padding: 10px !important;
  margin-left: 15px !important;
}

.mastHead {
  width: 865px !important;
  background-color: #f5f5f5;
  height: 40px !important;
}

  .mastHead ul > li > a {
    padding-top: 12px !important;
    white-space: nowrap !important;
  }

    .mastHead ul > li > a:active {
      padding-top: 12px !important;
      white-space: nowrap !important;
      background-color: #fff !important;
    }

    .mastHead ul > li > a:hover {
      padding-top: 12px !important;
      white-space: nowrap !important;
      height: 40px !important;
      background-color: #fff !important;
    }

    .mastHead ul > li > a:active {
      background-color: #fff !important;
    }

.jumbotron {
  border-radius: 0px !important;
  width: 865px !important;
  margin-bottom: 0px !important;
  padding: 10px 25px 10px 25px !important;
  background-color: #fff !important;
}

  .jumbotron p {
    margin-bottom: -14px !important;
  }

.accountSummary {
  background-color: #fff !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 20px !important;
}

.openingLeft {
  float: left !important;
  height: 192px !important;
  width: 761px !important;
  background-color: #555554 !important;
  color: #fff !important;
  padding: 15px !important;
}

.openingRight {
  float: right !important;
  width: 54px !important;
  margin-right: 15px !important;
}

.summaryHeading {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-top: -20px !important;
  border-bottom: 1px solid #929292 !important;
}

.currentSUM {
  background-color: #91d806 !important;
  color: #fff !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
}

.thirtyDaySUM, .sixtyDaySUM {
  background-color: #ffce03 !important;
  color: #fff !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
}

.ninetyDaySUM, .one20DaySUM {
  background-color: #f23b41 !important;
  color: #fff !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
}

.totalZARSUM {
  background-color: #04adf2 !important;
  color: #fff !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
}

.currentVAL, .thirtyDayVAL, .sixtyDayVAL, .nintyDayVAL, .one20DayVAL, .totalZARVAL {
  background-color: #fff !important;
  color: #555554 !important;
  text-align: center;
  font-weight: bold;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px !important;
}

.content {
  background-color: red !important;
}

.contentBlock {
  background-color: #fff !important;
  margin-left: 15px !important;
  padding-bottom: 15px !important;
}

.leftContent {
  margin-left: 15px !important;
  padding: 0px 10px 10px 10px !important;
  background: #fff !important;
  width: 565px !important;
  float: left;
}

.rightContent {
  background: #fff !important;
  float: right;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding: 0px 10px 10px 10px !important;
  width: 235px !important;
}

.bankHeaderStyle {
  width: 235px !important;
  background: #555554 !important;
  float: right;
  margin-right: -10px !important;
  padding: 0px 10px 10px 10px !important;
  color: #fff !important;
}

.bankDetailsSummary {
  background-color: #fff !important;
  float: right !important;
  margin-right: 15px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.bankDetailsHeader {
  padding-top: 0px !important;
  height: 30px !important;
  width: 100% !important;
  background-color: #555554 !important;
}

.bankContainerStyle {
  background-color: #fff !important;
  margin-left: 0px !important;
  width: 815px !important;
  padding: 15px 15px 15px 0px !important;
}

.headerStyle {
  margin-top: -3px !important;
  color: #fff !important;
}

.bankHeaderStyleStatement {
  padding-top: 0px !important;
  height: 30px !important;
  background-color: #555554 !important;
  width: 815px !important;
  margin-right: 0px !important;
  margin-left: 15px !important;
}

.bankHeaderStyleStatementSummary {
  padding-top: 0px !important;
  padding-left: 5px !important;
  height: 32px !important;
  background-color: #555554 !important;
  width: 215px !important;
  margin-right: 0px !important;
  margin-left: -5px !important;
}

.ourbankdetailsh3 {
  color: #fff !important;
  padding-top: 2px !important;
}


.leftMarginCorrect {
  margin-left: -15px !important;
}

.textNoWrap {
  white-space: nowrap !important;
}

table {
  border-collapse: collapse;
  border: 1px solid #CCC;
}

  table td {
    border: 1px dotted #CCC;
    font-size: 11px;
  }

  table th {
    border: 1px solid #CCC;
    color: #476886;
    background-color: #DDE4EA;
    font-size: 11px;
    vertical-align: top;
  }
/*CLASSES and IDS*/
/* MAIN STYLES */
#mainDiv {
  width: 865px;
  margin: 0 auto;
}

#mainLogo {
  width: 375px;
  height: 75px;
  margin-top: 20px;
}

#mainContact {
  width: 187px;
  height: 22px;
  float: right;
  cursor: pointer;
}

#mainFooter {
  height: 18px;
  background-color: #445c74;
  width: 865px;
  clear: both;
  background-image: url(mainFooter.gif);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 20px;
}

  #mainFooter ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

    #mainFooter ul li {
      color: #FFF;
      margin: 3px 18px 3px 18px;
      float: right;
      font-size: 9px;
    }

      #mainFooter ul li a {
        color: #FFF;
        text-decoration: none;
      }

.mainTextBox {
  border: 1px solid #eaeaea;
  height: 25px !important;
  font-size: 11px;
  padding: 2px;
  width: 250px;
  font-size: 11px;
  margin: 1px;
}

.mainButton {
  background-color: #91d806;
  font-weight: bold;
  color: #FFF;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.yourdetailsPadding {
  padding: 12px !important;
}

.contentArea {
  clear: both;
}

.ui-dialog-content {
  padding-top: 15px !important;
}

.info {
  background-color: transparent !important;
  border: 1px solid #8e8f91 !important;
  height: 14px !important;
  width: 14px !important;
  border-radius: 7px !important;
  padding-bottom: 0px !important;
  text-align: center;
}

/* NAVIGATION STYLES */
#mainNavigation {
  width: 865px;
  height: 30px;
  background-color: #445c74;
  clear: both;
}

  #mainNavigation ul {
    margin: 0px;
    padding: 0px;
    width: 862px;
    list-style-type: none;
    margin-left: 3px;
  }

    #mainNavigation ul li {
      float: left;
    }

/* SUMMARY STYLES */
#summaryWelcome {
  width: 235px;
  float: left;
  vertical-align: top;
}

#summaryImage {
  width: 550px;
  float: right;
}

.clearFloat {
  font-size: 1px;
  clear: both;
  height: 1px;
}

#summaryCompanyDetails {
  float: left;
  width: 400px;
}

#summaryBankingDetails {
  float: right;
  width: 400px;
}

/* UPDATE YOUR DETAILS STYLES */
#updateWelcome {
  width: 100%;
}

#updateForm {
  width: 400px;
}

/* STATEMENT STYLES */
#statementWelcome {
  float: left;
  width: 569px;
}

/* INV STYLES */
#invoicesWelcome {
  float: left !important;
  width: 569px !important;
}

#statementKeyInv {
  margin-top: -20px !important;
  float: right;
  width: 235px;
  border-left: 1px solid #CCC;
}

/* CRN STYLES */
#creditWelcome {
  float: left !important;
  width: 569px !important;
}

#statementKeyCrn {
  margin-top: -20px !important;
  float: right;
  width: 235px;
  border-left: 1px solid #CCC;
}

/* DBN STYLES */
#debitWelcome {
  float: left !important;
  width: 569px !important;
}

#statementKeyDbn {
  top: 0px !important;
  float: right;
  width: 235px;
  border-left: 1px solid #CCC;
}


#statementKey {
  margin-top: -40px !important;
  float: right;
  width: 235px;
  border-left: 1px solid #CCC;
}


td.imageFilterINV {
  color: #FFF !important;
  background-color: #91d806 !important;
  font-weight: bold;
  text-align: center;
}

td.imageFilterCRN {
  color: #FFF !important;
  background-color: #00aeef !important;
  font-weight: bold;
  text-align: center;
}

td.imageFilterDBN {
  color: #FFF !important;
  background-color: #ef3d46 !important;
  font-weight: bold;
  text-align: center;
}

td.imageFilterADJ {
  color: #FFF !important;
  background-color: #414042 !important;
  font-weight: bold;
  text-align: center;
}


td.imageFilterPMT {
  color: #FFF !important;
  background-color: #ffce03 !important;
  font-weight: bold;
  text-align: center;
}

.archive_page {
  background-color: #fff !important;
}

.tabBody {
  margin-top: 0px !important;
}

.k-link .k-header .k-state-selected {
  color: #fff !important;
}


/* SUPPORTING DOCUMENT STYLES */
#debitWelcome, #creditWelcome, #invoicesWelcome, #documentArchiveWelcome {
  width: 100%;
}

.supportingExcel {
  background-color: transparent !important;
  height: 20px;
  float: right;
  padding-right: 200px !important;
  color: #fff !important;
}

.documentsBar {
}

.hideDocImg {
  cursor: default;
}

  .hideDocImg img {
    cursor: default;
    display: none;
  }

.dialogContactUs {
  position: relative;
  left: 0px;
  top: 0px;
}

.k-state-selected > .k-link, .k-panelbar > li > .k-state-selected {
  color: #91d806 !important;
}

div.blockPieGraph div#statementHomeGraphDiv {
  position: relative;
  top: 0px !important;
  width: 530px !important;
  height: 250px !important;
  z-index: 0;
}

#statementKey {
  z-index: -1;
}

div.blockPieGraph div#invoiceHomeGraphDiv {
  position: relative;
  top: 0px !important;
  width: 820px !important;
  height: 250px !important;
  z-index: 0;
}

div.k-content div.k-chart {
  position: relative;
  top: 0px !important;
  width: 530px !important;
  height: 250px !important;
  z-index: 0;
}

  div.k-content div.k-chart#divGraphWindow {
    position: relative;
    top: 0px !important;
    width: 530px !important;
    height: 250px !important;
    z-index: 0;
  }

div#tabstrip {
  border: none !important;
}

div.k-content.k-state-active {
  border: none !important;
  margin: -1px 0px -1px 0px;
}

.k-tabstrip-items .k-tab-on-top, .k-tabstrip-items .k-state-active {
  margin-bottom: 0px !important;
  padding-bottom: 1px !important;
}

div#tabstrip ul.k-tabstrip-items.k-reset li {
  border: none !important;
}

  div#tabstrip ul.k-tabstrip-items.k-reset li.k-item.k-state-default.k-state-active > a.k-link {
    color: #445c74 !important;
  }

div#tabstrip {
  background-color: #ffffff !important;
}

  div#tabstrip ul {
    background-color: #445c74 !important;
  }

div#navigation {
  margin-top: 22px !important;
}

div#outerDivWindow {
  position: relative;
  top: -3200px !important;
}

/*////////////////////////////////////////////////////
Grid Properties
////////////////////////////////////////////////////*/

.k-alt {
  background-color: #ffffff;
}

.k-grid td {
  padding: 0 .6em;
  color: #000000;
}

a.k-grid-filter.k-state-active {
  background-color: #8e8f91 !important;
}

.k-grouping-header .k-group-indicator {
  border-style: none !important;
}

.k-grouping-header {
  background-color: #ededed !important;
  color: #555554 !important;
}

.k-header {
  background-color: #555554 !important;
}

.k-grouping-row td {
  background-color: #ddebbb;
}

.k-grouping-row .invHeaderGroupTotals {
  display: inline-grid;
  padding: 5px 0px 0px 0px !important;
  margin-bottom: -2px !important;
  width: 97% !important;
  font-weight: bold;
}

.k-grouping-row td .ServiceTd {
  color: #000000;
  padding-left: 20px;
  line-height: 0px !important;
  margin-right: -20px !important;
}


.k-grouping-row td .TransactionTd {
  color: #000000;
  padding-left: 20px;
  line-height: 0px !important;
}

.k-grouping-row td .BranchTd {
  color: #797A7B;
  padding-left: 20px;
  line-height: 0px !important;
}

.k-grouping-row .invHeaderGroupTotalsLeft {
  text-align: left;
  margin-bottom: -5px !important;
}

.k-grouping-row p.k-reset {
  display: block !important;
}

.k-grouping-row .invHeaderGroupTotalsRight {
  text-align: right;
  padding-right: 0px !important;
}







.k-grouping-row td p {
  line-height: 0px !important;
}

.k-grouping-row p {
  padding: 0px !important;
}

td.k-group-cell {
  background-color: transparent !important;
}

th.k-group-cell.k-header {
  border-left: none !important;
}

a.k-icon.k-i-collapse,
a.k-icon.k-i-expand {
  background-color: #91d806 !important;
  margin-left: 5px !important;
}

.k-grid-footer {
  background-color: #ffffff !important;
}

.k-footer-template td {
  background-color: #d1d3d4 !important;
  border: none !important;
  border-top: 1px solid #dde4ea !important;
}

.k-footer-template.invTotalDesc td {
  border: none !important;
}

.k-footer-template .invTotals table {
  border: none !important;
}

.k-footer-template .invTotals td {
  padding: 0px !important;
  margin: 0px !important;
  font-weight: bold;
  color: black !important;
  border: none !important;
  background-color: #d1d3d4 !important;
}

.k-footer-template .invTotalsVal td {
  text-align: right;
  padding: 0px !important;
  font-weight: bold;
  color: black !important;
  border: none !important;
  background-color: #d1d3d4 !important;
}

/**/

div#statementGridParent {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  margin-left: 15px !important;
}

div#invoiceHomeGraphDiv text {
  text-align: right !important;
}
